body {
  background-color: #fff7c2;
}

main {
  
  text-align: center;
  vertical-align: center;
  background-color: #76fed5;
  color: black;
  margin: auto;
  border: thick double #32a1ce;
  border-radius: 10%;
  max-width: 500px;
  max-height: 600px;
  margin-top: 100px;
}

div {
  margin: 10px;
}

button:hover {
  background-color: #fff7c2;
  
}

button:active {
  background-color: #86fcfe;
}

#quote-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

#btn-new-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 25px;
  border: blue solid 2px;
  border-radius: 5%;
}

#btn-tweet-quote {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: thick double #32a1ce;
  
}

img {
  display: flex;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}

#quote-author {
  color: blue;
}

#quote-text {
  height: 100px;
}

button {
  cursor: pointer;
}